@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
 *{
 	margin: 0;
 	padding: 0
 	outline: none;
 	font-family: 'Nunito', sans-serif;
 	text-decoration: none;
 	
 }

 body{
 	background-color:  #d8dbe6;
 }

 .wrapper{
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	width: 100%;
 	padding: 0 20px;
 }

 .form-style{
 	max-width: 550px;
 	margin: 0 auto;
 	background: #082554;
 	padding: 30px;
 	border-radius:5px;
 	display: flex;
 	color: white;
 	box-shadow: 0 0 30px grey;
 }

 .input-form{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	margin-right: 5%;
 	width: 200%
 }

.input-form input , .jur select{
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid white;
	padding: 20px;
	color: white;
	width: 100%;
	font-size: 15px;
}

.jur select{
	border: 1px solid white;
}

::-webkit-input-placeholder{
	color: white;
}

::-moz-input-placeholder{
	color: white;
}

::-ms-input-placeholder{
	color: white;
}

.btn input{
	background-color:#2566cf;
	font-size: 15px;
	border: none;
	padding: 15px 30px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	width: 200%;
}

@med
